<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
                        
    
    
    
    
    <wb-module deploy-name="security">
                                                
        
        
        
        
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
                                                
        
        
        
        
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
                                        
        
        
        
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
                                        
        
        
        
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
                                        
        
        
        
        <wb-resource deploy-path="/" source-path="/src/main/webapp"/>
                                        
        
        
        
        <property name="java-output-path" value="/web/target/classes"/>
                
        <property name="context-root" value="security"/>
                                            
    
    
    
    
    </wb-module>
                    




</project-modules>
